{% extends 'wssbase.html' %}
{% load static %}
{% load date_tags %}
{% load human_tags %}

{% block title %}{{ speaker.name }}{% endblock %}
{% block content %}
    <section id="main-container" class="main-container">
        <div class="container">
            <div class="row">
                <div class="clearfix">
                    <div class="col-xs-12 col-md-4">
{#                        {% render_human seminar.speaker subtitle=seminar.speaker.short_bio url=None %}#}
                        {% render_human speaker subtitle='' url=None %}

                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-session right">
                            <h4>مکان غرفه</h4>
                            {{ speaker.place }}

                            <h4>درباره شرکت</h4>
                            <div dir="rtl"> {{speaker.bio|linebreaksbr }} </div>

                        </div><!-- Session end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 1 end -->
            </div><!-- Speaker row 1 -->

        </div><!-- Conatiner end -->
    </section><!-- Main container end -->
{% endblock %}
